@import url(app.css);

.card-container {
    display: flex;
    gap: 20px; /* Adjust the fixed size between any two containers */
    overflow-x: auto; /* Enable horizontal scrolling if needed */
    margin-top: 20px; /* Add space above the container */
    margin-left: 15px; /* Add space on the left side of the container */
    /* border: 2px solid #ccc; Add a border around the entire container */
    padding: 10px; /* Add padding to the container */
  }
  
  .card {
    flex: 0 0 calc(25% - 20px); /* Adjust the percentage as needed */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 10px;
    padding: 1.5rem 2rem;
    box-shadow: 0 0 10px 0 rgb(188, 188, 188);
    border: 2px solid #ccc; /* Add an individual border around each card */
  }

.card-img {
  margin: 0 auto;
}

.card-img img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.card-name {
  margin: 0 auto;
  font-size: 1.2rem;
}

.appointment-btn {
  font-size: 0.8rem;
  padding: 1rem;
  margin: 1rem auto;
}

.card p {
  width: 100%;
}